// Specific CSS for your home-page
.my-name, .city-name {
  // font-family: "Plain", sans-serif;
  font-family: $medium-font;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: .5px;
  color: #4e4e4e;
}

@media screen and (max-device-width: 640px){
  .my-name {
    font-size: 15px;
    margin: 6px auto;
  }
  .city-name {
    display: none;
  }
  i.fas.fa-envelope, i.fas.fa-user, i.fas.fa-laptop-code, i.fas.fa-magic {
    font-size: 14px !important;
    padding: 8px !important;
  }
  .contact-links-top {
    margin: unset !important;
    margin-bottom: unset !important;
  }
}

.contact-links-top {
  margin: 0 auto;
  margin-bottom: 10px;
  i {
    color: #4e4e4e;
    text-decoration: none;
  }
  :hover {
      color: #7a967f;
      text-decoration: none;
  }
}

.navbar-brand {
  :hover {
    color: #7a967f;
  }
}

// .container {
//   margin: 160px auto;
// }

// .name-title {
//   text-align: center;
//   height: 100vh;
//   margin-top: 22vh;
// }

.intro {
  text-align: center;
  align-items: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -50px;
}

.name-title h1 {
  font-family: $bold-font;
  // margin-bottom: 0;
  font-size: 16vh;
  line-height: .8;
  color: #7a967f;
}

h1.designer-title {
  font-family: $serif-font;
  margin-bottom: -16px;
  margin-top: 14px;
  font-size: 18vh;
  line-height: 1;
}

@media screen and (max-device-width: 640px){
  .name-title h1 {
    font-size: 7vh;
  }
  h1.designer-title {
    margin-bottom: -2px;
    margin-top: 10px;
    font-size: 9vh;
  }
}

.web-app {
  margin-top: 80px;
  height: 90vh;
}

.web-app h2 {
  font-family: $serif-font;
  font-size: 44px;
  text-align: center;
  text-transform: uppercase;
}

.intro .navigation a {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: #4e4e4e;
  cursor: pointer;
  text-decoration: none;
  font-size: 34px;
}

@media screen and (max-device-width: 640px){
  .intro .navigation a {
    font-size: 30px;
  }
}

.info-about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 78vh;
  p {
    margin-top: 20px;
    line-height: 2;
    text-align: center;
    font-family: $regular-font;
    letter-spacing: 1px;
    font-size: 18px;
  }
}

.about h3 {
  margin-top: 20px;
  font-family: $serif-font;
  font-size: 44px;
  text-align: center;
}

.about {
  margin-top: 80px;
  height: 90vh;
}

@media screen and (max-device-width: 640px){
  .info-about {
    height: 84vh;
  }
  .about {
    margin-top: 50px;
  }
  .about h3 {
    font-size: 30px;
  }
  .info-about p {
    font-size: 12px;
    padding: 0px 43px;
  }
}

// graphic section

.design {
  text-align: center;
  h2 {
  font-family: $serif-font;
  font-size: 44px;
  text-transform: uppercase;
  margin-bottom: 40px;
  }
}

.logo h2 {
  margin: 0 auto;
  border: 1px solid black;
  font-size: 28px;
  width: 100px;
  height: 68px;
  padding-top: 3px;
  margin-bottom: 33px;
}

.logo-images {
  margin-bottom: 40px;
}

h2.digital {
  margin: 0 auto;
  border: 1px solid black;
  font-size: 28px;
  width: 190px;
  height: 70px;
  padding-top: 3px;
  margin-bottom: 20px
}

.dogs {
  margin-top: 40px;
  margin-bottom: 40px;
}

.plants {
  margin-bottom: 40px;
}

h2.media-design {
  margin: 0 auto;
  border: 1px solid black;
  font-size: 28px;
  width: 190px;
  height: 70px;
  padding-top: 3px;
  margin-bottom: 20px
}

.social-media-pictures {
  margin-top: 40px;
  margin-bottom: 40px;
}

h2.packaging-title {
  margin: 0 auto;
  border: 1px solid black;
  font-size: 28px;
  width: 160px;
  height: 36px;
  padding-top: 3px;
  margin-bottom: 20px
}

.packaging-pictures {
  margin-top: 40px;
  margin-bottom: 80px;
}

.services {
  text-align: center;
  height: 50vh;
  h2 {
  font-family: $serif-font;
  font-size: 44px;
  text-transform: uppercase;
  margin-bottom: 30px;
  }
  p {
    line-height: 1;
    font-family: $bold-font;
    font-size: 8vh;
    text-transform: uppercase;
    color: #7a967f;
  }
}

.footer-link {
  display: flex;
  align-items: center;
}

.footer-link a {
  text-decoration: none;
  color: #7a967f;
  :hover {
    color: #9aab9d;
  }
}

.footer {
  font-size: 14px;
  font-family: "Plain", sans-serif;
  color: #7a967f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 50px;
  border-top: 1px solid #DCDCDC;
}

@media screen and (max-device-width: 640px){
  .services h2, .web-app h2, .design h2 {
    font-size: 30px;
  }
  .services p {
    font-size: 5vh;
  }
  .services {
    height: 40vh;
  }
  .services h2 {
    margin-top: 40px;
  }
  .web-app {
    margin-top: 40px;
  }
}
