// Specific CSS for your home-page
.my-name {
  font-family: "Plain", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

// .container {
//   margin: 160px auto;
// }

// .name-title {
//   text-align: center;
//   height: 100vh;
//   margin-top: 22vh;
// }

.intro {
  text-align: center;
  align-items: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -50px;
}

.name-title h1 {
  font-family: $bold-font;
  // margin-bottom: 0;
  font-size: 14vh;
  line-height: .8;
  color: #7a967f;
}

h1.designer-title {
  font-family: $serif-font;
  margin-bottom: -16px;
  margin-top: 14px;
  font-size: 16vh;
  line-height: 1;
}


.web-app {
  margin-top: 80px;
  height: 100vh;
}

.web-app h2 {
  font-family: $serif-font;
  font-size: 33px;
  text-align: center;
  text-transform: uppercase;
}

.intro .navigation a {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: #4e4e4e;
  cursor: pointer;
  text-decoration: none;
  font-size: 30px;
}

.info-about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  p {
    margin-top: 20px;
    line-height: 2;
    text-align: center;
    font-family: $regular-font;
    letter-spacing: 1px;
  }
}

.about h3 {
  margin-top: 20px;
  font-family: $serif-font;
  font-size: 33px;
  text-align: center;
}

// graphic section

.design {
  text-align: center;
  h2 {
  font-family: $serif-font;
  font-size: 33px;
  text-transform: uppercase;
  }
}

.logo h2 {
  font-size: 60px;
}

.services {
  text-align: center;
  h2 {
  font-family: $serif-font;
  font-size: 33px;
  text-transform: uppercase;
  }
  p {
    line-height: 1.4;
    font-family: $bold-font;
    font-size: 8vh;
    text-transform: uppercase;
    color: #7a967f;
  }
}

.freelance {
  height: 16vh;
  text-align: center;
  h2 {
  font-family: $serif-font;
  font-size: 33px;
  text-transform: uppercase;
  }
  a {
  text-decoration: none;
  color: #7a967f;
  :hover {
    color: #9aab9d;
  }
  }
}

.link-info {
  margin-top: 20px;
}
