// Specific CSS for your home-page
.my-name {
  font-family: "Plain", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.container {
  margin: 160px auto;
}

.name-title {
  text-align: center;
}

.name-title h2 {
  font-family: $bold-font;
  // margin-bottom: 0;
  font-size: 14vh;
  line-height: .8;
}

h2.designer-title {
  font-family: $serif-font;
  margin-bottom: -16px;
  margin-top: 14px;
  font-size: 16vh;
  line-height: 1;
}
