// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

@font-face {
  font-family: "NeueMontreal-Bold";
  src: url(./fonts/NeueMontreal-Bold.otf) format('truetype');
  font-weight: bold;
  font-style: normal;
}
$bold-font: "NeueMontreal-Bold";

@font-face {
  font-family: "NeueMontreal-Medium";
  src: url(./fonts/NeueMontreal-Medium.otf) format('truetype');
  font-weight: medium;
  font-style: normal;
}
$medium-font: "NeueMontreal-Medium";

@font-face {
  font-family: "NeueMontreal-Regular";
  src: url(./fonts/NeueMontreal-Regular.otf) format('truetype');
  font-style: normal;
}
$regular-font: "NeueMontreal-Regular";

@font-face {
  font-family: "Elgoc";
  src: url(./fonts/Elgoc-Thin.otf) format('truetype');
}
$serif-font: "Elgoc";
