<div class="container">
  <div class="row justify-content-center">
    <h1>Middleman Boilerplate</h1>
  </div>
  <div class="name-title">
    <h2>CREATIVE</h2>
    <h2 class="designer-title">DESIGNER &</h2>
    <h2>DEVELOPER</h2>
  </div>
</div>