<div class="container">
  <!-- <div class="row justify-content-center">
    <h1>Middleman Boilerplate</h1>
  </div> -->
  <div class="name-title">
    <h1>CREATIVE</h1>
    <h1 class="designer-title">DESIGNER &</h1>
    <h1>DEVELOPER</h1>
  </div>
  <div class="app">
    <h2>Web App Projects</h2>
    <div class="card-project">
      <a href="https://www.happyyou.xyz/" target="_blank">
        <div class="card-image">
          <%= image_tag("happy-screenshot-2.png", alt: "happy screenshot") %>
          <span></span>
        </div>
        <div class="card-text">
          <h3>Happy</h3>
          <div class="card-date">
            <p>A PWA that allows you to track your mood and activities and able to see which activity made the user happiest</p>
            <%= image_tag "link.svg", alt: "alttext", class: "link-margin" %>
          </div>
        </div>
      </a>
    </div>
    <div class="card-project">
      <a href="https://pick-a-sitter.herokuapp.com/" target="_blank">
        <div class="card-image">
          <%= image_tag("babysitter.png", alt: "happy screenshot") %>
          <span></span>
        </div>
        <div class="card-text">
          <h3>Pick-a-Sitter</h3>
          <div class="card-date">
            <p>A service that helps families find a babysitter near them and able to book them</p>
            <%= image_tag "link.svg", alt: "alttext", class: "link-margin" %>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>